.valueDisplayContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.valueDisplayContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    min-width: 260px;

    font-weight: 600;
    color: #0b1a3f;
    font-family: 'Nunito Sans';
}